In [1]:
%load_ext autoreload
%autoreload 2

import seaborn as sns
import numpy as np
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter
import sklearn
from io import StringIO
from xml.etree.ElementTree import ElementTree, fromstring

import pandas as pd
import researchpy as rp
import scipy.stats as stats
import utilities



pd.set_option('display.float_format', lambda x: '{:.0f}'.format(x) if abs(x - round(x)) < 1e-6 else '{:,.2f}'.format(x))
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)

match_df=pd.read_csv("match_df.csv")
'''
country_df=pd.read_csv("country_df.csv")
league_df=pd.read_csv("league_df.csv")
match_df=pd.read_csv("match_df.csv")
player_df=pd.read_csv("player_df.csv")
player_attributes_df=pd.read_csv("player_attributes_df.csv")
team_df=pd.read_csv("team_df.csv")
team_df=pd.read_csv("team_df.csv")
team_attributes_df=pd.read_csv("team_attributes_df.csv")

'''




dir(utilities)

['ET',
 'StringIO',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'create_dataframe_from_data',
 'extract_valid_xml_strings',
 'fromstring',
 'np',
 'parse_xml_elements',
 'parse_xml_to_dataframe',
 'pd',
 'process_element_data']

In [9]:
%reload_ext autoreload

In [2]:
goal_df = utilities.parse_xml_to_dataframe(match_df, "goal")

In [5]:
goal_df.head()

,goal,value,comment,stats,goals,shoton,event_incident_typefk,elapsed,player2,subtype,player1,sortorder,team,id,n,type,goal_type,penalties,elapsed_plus,owngoals,del,coordinates,shotoff
0,None,None,n,None,1,1,406,22,38807,header,37799,5,10261,378998,295,goal,n,1,2,1,1,NaN,1
1,None,None,n,None,1,1,393,24,24154,shot,24148,4,10260,379019,298,goal,n,1,5,1,1,NaN,1
2,None,None,n,None,1,1,393,4,39297,shot,26181,2,9825,375546,231,goal,n,1,3,1,1,NaN,NaN
3,None,None,n,None,1,1,407,83,30889,distance,30853,0,8650,378041,344,goal,n,1,2,1,1,NaN,NaN
4,None,None,n,None,1,1,393,4,36394,shot,23139,2,8654,376060,244,goal,n,1,3,1,1,NaN,NaN

In [ ]:
numeric_df = player_match.select_dtypes("int")

object_df = player_match.select_dtypes("object")

xml_df = object_df.iloc[:, 2:10]

In [ ]:
match_df[['goal', 'shoton', 'shotoff', 'foulcommit']].isna().sum()

In [ ]:
goal_df.head()

In [ ]:
xml_data.drop(xml_data[xml_data['stats'].isna() ==  True].index)

In [ ]:

goal_df.to_frame()

In [ ]:
pd.read_xml(StringIO(xml_str[xml_str >3]))